.field-cell {
    display: table-cell;
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    text-align: center;
    vertical-align: middle;
    font-size: 48px;
    color: aquamarine;
}


.field-row {
    display: table-row;
}

